<h2>INGRESE SU NOMBRE</h2>
      <br>
      <form action="/" method="POST">
        <label for="user">UserName</label>
        <input for="text" name="user" id="user"/>
        <button onclick="ingresar()">Ingresar</button>
      </form>